<html>
  <head>
   <title>This is a generated page for {{ansible_hostname}}!</title>
    <style>
        body {
          font-family: "Lucida Sans Unicode" , "Bitstream Vera Sans" , "Trebuchet Unicode MS" , "Lucida Grande" , Verdana, Helvetica, sans-serif;
          font-size: 20px;
          text-align: center;
          line-height: 130%;
          color: #000;
          background: #E5E5E5;
        }
    </style>
  </head>
 <body>
   <center><br>
I used to use Ansible.<br>
I still do but I used to, too.<br>
<p>
My name is {{ansible_hostname}} running {{ansible_distribution}} {{ansible_distribution_version}}<br>
<p>
This page was last updated on {{current_time}}.
   </center>
  </body>
</html>

